.block{
  background: #c1c1c1;
  width:1850px;
  max-height: 700px;
  padding: 10px 0px 0px 0px;
  border: 2px solid #000;
  border-radius: 10px 0 0 10px;
  overflow: auto;
}
*{
  box-sizing: border-box
}
.block-2{
  background: #c9a501;
  display: inline-block;
  width: 500px;
  font-family: "Montserrat", "Arial";
  font-size: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  margin: 0 0px 10px 10px;
  
}